<ul class="menu">

    <a href="/admin/symbols"><li>View all symbols</li></a>
    <a href="/admin/symbol-categories"><li>View all categories</li></a>
    <a href="/admin/users"><li>View all users</li></a>

</ul>


