<p class="pageHeader">New Category</p>

<form action="/symbol-categories" method="post">

    <label for="icon">Category Icon:</label>
    <input class="inputbox" type="text" name="icon" required = true id="icon">

    <label for="descriptor">Category Descriptor:</label>
    <input class="inputbox" type="text" name="descriptor" required="true" id="descriptor">

    <input type="submit" value="Save" class="button">
</form>