<p class="pageHeader">All Symbols</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Image URL</th>
            <th></th>
        </tr>
        #foreach($symbol in $symbols)
        <tr>
            <td>$symbol.getName()</td>
            <td>$symbol.getImageUrl()</td>
            <td><a href="/symbols/$symbol.getId()">VIEW DETAILS</a></td>
        <tr>
            #end
    </table>
<a href="/symbols/new">Add symbol</a>
