<h1 class="pageHeader">All Symbols</h1>
    <table>
        #foreach($symbol in $symbols)
        <tr>
            <td><img src="$symbol.getImageUrl()"/></td>
            <td><a href="/admin/symbols/$symbol.getId()">$symbol.getName()</a></td>
        <tr>
            #end
    </table>
<a href="/admin/symbols/new">Add symbol</a>
