<p class="pageHeader">Symbol: $symbol.getName()</p>
<table>


    <audio id="audio" src="$symbol.getSoundUrl()" autostart="false" ></audio>
    <a onclick="playSound();"> <img src="$symbol.getImageUrl()"/></a>
    <script>
    function playSound() {
          var sound = document.getElementById("audio");
          sound.play();
      }
    </script>





</table>

<a href="/symbols/search?user_id=$user.getId()">Search again</a>




