* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 18px;
  color: black;
}

/* grid container */

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(1rem, auto);
  grid-template-areas: "header" "content" "footer";
}

/* grid areas */

.header {
    grid-area: header;
    height: 3rem;
    z-index: 1;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #80ccf4;
    justify-content: center;
}

.content {
    display: flex;
    background-color: white;
    grid-area: content;
    height: 600px;
}

.footer {
    z-index: 1;
    background-color: Gainsboro;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 4rem;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

/* elements inside the header area */

.logo {
    padding-top: 0.7rem;
    font-weight: 500;
    font-size: 24px;
}

/* elements inside the content area */

.content a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-top: 1.2rem;
    width: 100%;
    height: 2.5rem;
}

.content a:hover {
    background-color: #f3d250;
}

.content .menu {
    width: 100%;
}

.content .menu li {

    display: block;
}

/* elements inside the footer area */

.footer a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: inherit;
  height: 100%;

}

.footer a:hover {
   background-color: grey;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: inline-block;
  padding-top: 0.7rem;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  width: 2rem;
  height: 2rem;

}
