<h1 class="pageHeader">New User</h1>

<form class="user-form" action="/users" method="post">

    <div>
        <label for="name">Name:</label>
        <input class="inputbox" type="text" name="name" required="true" id="name">
    </div>

    <input type="submit" value="Save" class="user-form-button"><a href="/users" class="cancel center">Cancel</a>
</form>