<!DOCTYPE html>
<html>
  <head>
    <title>I-Choose Web App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:400,500,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
    <link rel="icon"
          type="image/png"
          href="/favicon-child.ico">
  </head>
  <body>
    <!-- begin inner template-->
    <div class="grid-container">
      <div class="header">
        <p class="logo">i-choose</p>
        <a href="/"><i class="fas fa-user"></i></a>
      </div>

      <div class="content">
        #parse( $template )
      </div>
      <nav class="footer">
          #if( $user.getId().class.name == "java.lang.Integer" )
          <ul>
          <a href="/users/$user.getId()"><li class="nav-item"><i class="fas fa-home"></i></li></a>
          <a href="/users/$user.getId()/show_all_timetables"><li class="nav-item"><i class="fas fa-calendar-alt"></i></li></a>
          <a href="/mysentences?user_id=$user.getId()"><li class="nav-item"><i class="fas fa-comments"></i></li></a>
          <a href="/help?user_id=$user.getId()"><li class="nav-item"><i class="fas fa-question-circle"></i></li></a>
        </ul>
          #else
          <ul>
              <a href="/"><li class="nav-item"><i class="fas fa-home"></i></li></a>
          </ul>
          #end

      </nav>
    </div>
    <!-- end inner template-->
  </body>
</html>