<p class="pageHeader">New User</p>

<form action="/users" method="post">
    <label for="name">User Name:</label>
    <input class="inputbox" type="text" name="name" required="true" id="name">

    <input type="submit" value="Save" class="button">
</form>