<!DOCTYPE html>
<html>
  <head>
    <title>I-Choose Web App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:400,500,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
  </head>
  <body>
    <!-- begin inner template-->
    <div class="grid-container">
      <div class="header">
        <div class="logo">i-choose</div>
      </div>

      #parse( $template )

      <nav class="footer">
        <ul>
          <a href="/"><li class="nav-item"><i class="fas fa-home"></i></li></a>
          <a href="/timetables"><li class="nav-item"><i class="far fa-calendar-alt"></i></li></a>
          <a href="/symbols"><li class="nav-item"><i class="far fa-calendar-alt"></i></li></a>
          <a href="/symbol-categories"><li class="nav-item"><i class="far fa-calendar-alt"></i></li></a>
        </ul>


      </nav>
    </div>
    <!-- end inner template-->
  </body>
</html>