<!DOCTYPE html>
<html>
  <head>
    <title>I-Choose Web App</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <div>
      <a href="/symbols" class="button center">See all symbols</a>
      <a href="/symbols/new" class="button center">Create new Symbol</a>
    </div>
  </head>
  <body>
    <!-- begin inner template-->
    <div class="container">
      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>