<!DOCTYPE html>
<html>
  <head>
    <title>I-Choose Web App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:400,500,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  </head>
  <body>
    <!-- begin inner template-->
    <div class="grid-container">
      <div class="header">
        <div class="logo">i-choose</div>
      </div>
      <div>
      #parse( $template )
      </div>
      <div class="footer">
        Created by Digory & Vicky
      </div>
    </div>
    <!-- end inner template-->
  </body>
</html>