<table class="table padding-left">

    #foreach($user in $users)
    <tr>
        <td>$user.getName()</td>
        <td><a href="/users/$user.getId()">LOG IN</a></td>
    </tr>

    #end

</table>

<a class="new" href="/admin/users/new">Create User Account</a>

<a href="/admin">Login as Admin</a>


