<form class="login" action="/users/login" method="post">
    <select class="login login-dropdown" name="user_id">
        #foreach($user in $users)
            <option value="$user.getId()">$user.getName()</option>
        #end
    </select>

   <input type="submit" value="log in" class="login login-button center">
</form>

<div class="login-page-links"><a class="login" href="/users/new">Create User Account</a></div>

<a class="login login-page-links" href="/admin">Login as Admin</a>


