<td>$user.getName() timetables</td>
#foreach($timetable in $userTimetables)
<tr>
    <td>$timetable.getName()</td>
    <td><a href="/timetables/$timetable.getId()/show_symbols?user_id=$user.getId()">SHOW DETAILS</a></td>
</tr>

#end

<a href="/timetables/new_for_user?user_id=$user.getId()">MAKE NEW TIMETABLE</a>