<a class="new" href="/timetables/new_for_user?user_id=$user.getId()">Add new timetable</a>

<h1>My timetables</h1>

<hr class="hr">
#foreach($timetable in $userTimetables)
<div class="categories">
    <a class="timetable-link" href="/timetables/$timetable.getId()/show_symbols?user_id=$user.getId()">$timetable.getName()</a>

</div>

<hr class="hr">
#end
</table>

