<h1 class="pageHeader">New Timetable for $user.getName()</h1>

<form class="user-form" action="/timetables?user_id=$user.getId()" method="post">

    <label for="name">Timetable Name:</label>
    <input class="inputbox" type="text" name="name" required="true" id="name"><br>
    <input type="submit" value="Save" class="user-form-button"><a href="/users/$user.getId()/show_all_timetables" class="cancel center">Cancel</a>
</form>

