<h1 class="pageHeader">Set timetable passcode</h1>

<form class="user-form" action="/users/$user.getId()/set_passcode" method="post">

    <div>
        <label for="code">Code:</label>
        <input class="inputbox" type="text" name="code" required="true" id="code">
    </div>

    <input type="submit" value="Save" class="user-form-button"><
</form>