
#foreach($symbol in $symbols)
<tr>
    <td>$symbol.getName()</td>
    <td>$symbol.getCategory().getDescriptor()</td>
    <td>$symbol.getImageUrl()</td>
    <td>$symbol.getPopularityRating()</td>
<tr>
    #end